* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #002339;
    width: 90vw;
    height: 80vh;
}

.intro {
    margin: 50px 5%;
    width: 100%;
    text-align: center;
}

.intro h1 {
    font-size: 50px;
    color: white;
}

.intro h1>span {
    color: orangered;
}

.intro h2 {
    font-size: 40px;
    margin-top: 15px;
    color: white;
}

.intro h2>span {
    color: lightblue;
}

.intro button {
    width: 200px;
    height: 40px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: orangered;
    font-size: 17px;
    cursor: pointer;
    transition: .6s all ease-in-out;
}

.intro button:hover {
    color: white;
    background: transparent;
    border: 1px solid orangered;
}

.player-profile {
    width: 100%;
    margin: -40px 5%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.player-profile h2 {
    font-size: 50px;
    color: lightblue;
}

.player-profile img {
    height: 300px;
    width: 280px;
    border-radius: 6px;
}

.player-profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-profile form input {
    width: 250px;
    height: 30px;
    border-radius: 12px;
    margin-top: 10px;
    padding-left: 12px;
    font-size: 16px;
}

.player-profile form button {
    margin-top: 5px;
    font-size: 16px;
    width: 200px;
    height: 30px;
    background-color: green;
    border-radius: 12px;
    cursor: pointer;
    transition: .6s all ease-in-out;
    border: none;
}

.player-profile form button:hover {
    color: white;
    background: transparent;
    border: 1px solid green;
}

.score {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 50px 5%;
    text-align: center;
}

.score h3 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.score .personal-score {
    margin-top: -10px;
}



@media screen and (max-width: 470px) {
    .intro {
        margin: 70px 5%;
    }

    .intro h1 {
        margin: 0;
        font-size: 37px;
    }

    .intro h2 {
        margin: 10px 5%;
        font-size: 26px;
    }

    .intro button {
        width: 150px;
        height: 30px;
        font-size: 14px;
        margin: 1px;
    }

    .player-profile {
        margin: -55px 5%;
    }

    .player-profile h2 {
        margin-top: 0px;
        font-size: 22px;
    }

    .player-profile img {
        width: 180px;
        height: 190px;
        margin-top: 4px;
    }

    .player-profile form input {
        width: 200px;
        height: 30px;
    }
}

@media screen and (min-width: 470px) and (max-width: 700px) {
    .intro {
        margin: 20px 5%;
    }

    .intro h1 {
        font-size: 60px;
    }

    .intro h2 {
        margin: 5px 5%;
        font-size: 35px;
    }

    .intro button {
        width: 200px;
        height: 30px;
        font-size: 14px;
        margin: 4px;
    }

    /*
    .game-buttons {
        display: flex;
        flex-direction: row;
    }
    */

    .player-profile h2 {
        margin-top: 26px;
        font-size: 40px;
    }

    .player-profile img {
        width: 180px;
        height: 200px;
        margin-top: 4px;
    }

    .player-profile form input {
        width: 200px;
        height: 30px;
    }
}